
div{
    float: left;
}
.clicked {
    fill: brown;
}
.hour:hover {    
    stroke: brown;
    stroke-width: 2;
}
.bar {
    fill: steelblue;
}
.bar:hover {
    fill: brown;
}
.bar.left {
	fill: rgb(255, 145, 229);
}
.bar.left:hover {
	fill: brown;
}
.bar.right {
	fill: rgb(83, 145, 238);
}
.bar.right:hover {
	fill: brown;
}
.axis--x path {
    /* display: none; */
}

.map{
    width: 30%;
    height: 500px;
}

svg.barchart{
    overflow: visible;
}

.barchart .x.axis text{
    text-anchor: end;
}
.leftBarGroup .text_data{
    text-anchor: end;
}

.buttonControl text.btn{
    fill:black;
}

.buttonControl text.btn:hover{
    fill:blue;
    cursor: pointer;
}
input[type=checkbox]
{
    /* Triple-sized Checkboxes */
    -ms-transform: scale(1); /* IE */
    -moz-transform: scale(1); /* FF */
    -webkit-transform: scale(1); /* Safari and Chrome */
    -o-transform: scale(1); /* Opera */
    padding: 10px;    
    margin-left: 20px;
}
.interactiveObject{
    margin-right: 15px;
}
.clear{
    clear: both;
    width: 100%;
    height: 100px;
}