
div{
    float: left;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}
.bar.left {
	fill: rgb(255, 145, 229);
}
.bar.left:hover {
	fill: green;
}
.bar.right {
	fill: rgb(83, 145, 238);
}
.bar.right:hover {
	fill: green;
}
.axis--x path {
    /* display: none; */
}

.map{
    width: 30%;
    height: 500px;
}

svg.barchart{
    overflow: visible;
}

.barchart .x.axis text{
    text-anchor: end;
}
.leftBarGroup .text_data{
    text-anchor: end;
}